body{
    background-color: #0081b9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainblock{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30vh;
    width: 55vw;
    padding: 10vw;
    margin: 9vw;
    border-radius: 10px;
    background: linear-gradient(to right, #004C6D 50%, ghostwhite 50%);
    justify-content: center;

}

@media screen and (max-width: 900px) {
    .mainblock{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55vh;
        width: 30vw;
        padding: 10vw;
        border-radius: 10px;
        background: linear-gradient(to bottom, #004C6D 40%, ghostwhite 40%);
        justify-content: center;
    }
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30vh;
    width: 55vw;
    align-content: space-be;
}

