body{
    background-color: #0081b9;
}

.mainblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10vh;
   }

@media screen and (max-width: 600px) {
    .mainblock{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1
    }
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    flex: 1;
}



#top{
    background-color: #004C6D;
}

#down{
    background-color: ghostwhite;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

input[type="text"],
input[type="password"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 300px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #004C6D;
    border-radius: 5px;

input[type="submit"]{



}

#text_login{
    color: white;
    font-size: 180px;
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    font-weight: bold;
}

.text_register{

}

#text_register:hover{

}





Primary Blue: #004C6D
Light Blue: #65b6d1
Accent Light Blue: #0081b9
Light Gray: #B3B9BC
Light Blue: #d8e7ff